<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
</head>
<body>
<h1>Our Contacts</h1>
<p>We value your feedback, comments and any questions.

    P.O Box 939-00606, Sarit Center, Nairobi
    Kipro Center, Sports Road, Westlands, Near Delta, Nairobi
    +254716-608-066
    +254732-608-066
    info@emobilis.org
</p>

</body>
</html>